.addWarp {
  text-align: right;
  padding-left: 1.5rem;
  padding-right: 1.5em;
  padding-bottom: 5px;
}
/* 手機版 addTel position 待修正 */
.addTel {
  position: fixed;
  display: inline-block;
  transform: translate(-100%, 0);
  top: 440px;
  width: 5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.438);
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 4.8rem;
  font-size: 48px;
  font-weight: 600;
}

.addWarp span {
  display: none;
}

@media screen and (min-width: 768px) {
  .addWarp {
    position: relative;
    padding-left: 5rem;
    padding-right: 5em;
  }
  .addTel {
    position: relative;
    top: 0;
    left: 15px;
    display: inline-block;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
    width: 25px;
    height: 25px;
    color: white;
    background: black;
    cursor: pointer;
  }

  .addWarp span {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }
}
