.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
}

.tel-action {
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .table-warp {
    display: flex;
  }

  .table-item {
    flex: auto;
  }
}
