.btnWarp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addWarp {
  text-align: right;
  padding-left: 1.5rem;
  padding-right: 1.5em;
  padding-bottom: 5px;
}

.addTel {
  display: inline-block;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  font-size: 24px;
  width: 25px;
  height: 25px;
  color: white;
  background: black;
}

.addWarp span {
  font-size: 24px;
}
