.seachWrap {
  display: block;
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.select {
  flex: 1;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.input {
  font-size: 1.3rem;
  padding-left: 8px;
  flex: 5;
  height: 60px;
  border: 1.5px solid #9f9f9f;
}

.iconGroup {
  transform: scale(1);
  line-height: 60px;
  width: 100%;
  background: #0496d2;
  text-align: center;
  cursor: pointer;
}

.icon {
  font-size: 5em;
  display: inline-block;
  right: 0.03em;
  bottom: -0.03em;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid rgb(255, 255, 255);
  position: relative;
  border-radius: 0.35em;
  background: #0496d2;
}

.icon::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.27em;
  bottom: -0.13em;
  border-width: 0;
  width: 0.35em;
  height: 0.07em;
  transform: rotate(45deg);
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .seachWrap {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }

  .inputWrap {
    flex: 5;
  }

  .inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
  }

  .select {
    flex: 1;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }

  .input {
    font-size: 1.3rem;
    flex: 5;
    padding-left: 8px;
    height: 30px;
    border: 1.5px solid #9f9f9f;
  }

  .iconWarp {
    flex: 1;
    padding-left: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
  }

  .iconGroup {
    transform: scale(0.5);
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #0496d2;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .icon {
    font-size: 5em;
    display: inline-block;
    right: 0.03em;
    bottom: -0.03em;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid rgb(255, 255, 255);
    position: relative;
    border-radius: 0.35em;
    background: #0496d2;
  }

  .icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.27em;
    bottom: -0.13em;
    border-width: 0;
    width: 0.35em;
    height: 0.07em;
    transform: rotate(45deg);
    background: #ffffff;
  }
}
